setproctitle==1.2.2
psutil==6.1.0
colorama==0.4.6
h11==0.14.0
humanfriendly==10.0
itsdangerous==2.2.0
narwhals==1.15.2
zipp==3.21.0
markdown-it-py==3.0.0
onnx==1.17.0
starlette==0.41.3
terminaltables==3.1.10
google-crc32c==1.6.0
ruff==0.8.1
av==12.3.0
jupyter_client==8.6.3
Markdown==3.7
packaging==24.2
propcache==0.2.1
fastapi==0.115.6
pafy==0.5.5
pydub==0.25.1
nvidia-cublas-cu12==12.1.3.1
pip-search==0.0.12
streamlit-webrtc==0.47.9
s3transfer==0.10.4
debugpy==1.6.7
typing_extensions==4.12.2
sahi==0.11.19
tzdata==2024.2
onnxslim==0.1.42
everett==3.1.0
nvidia-cudnn-cu12==9.1.0.70
idna==3.7
cycler==0.12.1
contourpy==1.3.1
safehttpx==0.1.6
nvidia-cusparse-cu12==12.1.0.106
bs4==0.0.2
cryptography==44.0.0
pycparser==2.22
charset-normalizer==3.4.0
pydantic_core==2.27.1
tornado==6.4.1
anyio==4.6.2.post1
requests-toolbelt==1.0.0
gradio_webrtc==0.0.15
boto3==1.35.76
torch==2.5.1+cu121
jsonschema==4.23.0
watchdog==6.0.0
ffmpy==0.4.0
nvidia-cuda-nvrtc-cu12==12.1.105
typer==0.15.0
tensorrt_cu12==10.7.0
tenacity==9.0.0
setproctitle==1.3.4
tqdm==4.67.1
Pygments==2.15.1
nvidia-cufft-cu12==11.0.2.54
rich==13.9.4
Flask==3.1.0
python-dotenv==1.0.1
pure-eval==0.2.2
kiwisolver==1.4.7
tensorboard-data-server==0.7.2
six==1.16.0
pexpect==4.8.0
jsonschema-specifications==2024.10.1
PyYAML==6.0.2
httpcore==1.0.7
wcwidth==0.2.5
nest_asyncio==1.6.0
thop==0.1.1-2209072238
botocore==1.35.76
aioice==0.9.0
cachetools==5.5.0
stack-data==0.2.0
numpy==1.26.3
msgpack==1.1.0
aiohappyeyeballs==2.4.4
absl-py==2.1.0
opencv-python==4.9.0.80
onnxruntime-gpu==1.20.1
pybboxes==0.1.6
tensorboard==2.18.0
gradio==5.7.1
ptyprocess==0.7.0
orjson==3.10.12
toml==0.10.2
MarkupSafe==2.1.5
ray==2.40.0
torchvision==0.20.1+cu121
click==8.1.7
nvidia-cusolver-cu12==11.4.5.107
platformdirs==4.3.6
dnspython==2.7.0
decorator==5.1.1
rpds-py==0.21.0
tensorboardX==2.6.2.2
seaborn==0.13.2
importlib_metadata==8.5.0
matplotlib-inline==0.1.6
annotated-types==0.7.0
aiosignal==1.3.1
huggingface-hub==0.26.3
websockets==12.0
roboflow==1.1.49
asttokens==2.0.5
urllib3==2.2.3
nvidia-cuda-cupti-cu12==12.1.105
wandb==0.19.0
multidict==6.1.0
soupsieve==2.6
aiofiles==23.2.1
PyJWT==2.10.1
certifi==2024.8.30
pycocotools==2.0.8
opencv-python-headless==4.10.0.84
wurlitzer==3.1.1
nvidia-curand-cu12==10.3.2.106
Werkzeug==3.1.3
ipykernel==6.29.5
mpmath==1.3.0
aiohttp==3.11.9
termcolor==2.5.0
psutil==5.9.0
psutil==6.1.0
fsspec==2024.2.0
semantic-version==2.10.0
jedi==0.19.1
traitlets==5.14.3
Jinja2==3.1.3
pyarrow==18.1.0
pillow==10.2.0
networkx==3.2.1
pylibsrtp==0.10.0
pyparsing==3.2.0
shellingham==1.5.4
coloredlogs==15.0.1
altair==5.5.0
python-box==6.1.0
setuptools==75.1.0
referencing==0.35.1
scikit-learn==1.5.2
wrapt==1.17.0
smmap==5.0.1
httpx==0.28.0
pandas==2.2.3
sympy==1.13.1
yolov5==7.0.14
nvidia-cuda-runtime-cu12==12.1.105
fire==0.7.0
pydantic==2.10.3
jmespath==1.0.1
nvidia-nvtx-cu12==12.1.105
ultralytics==8.3.43
gitdb==4.0.11
tensorrt-cu12-libs==10.7.0
executing==0.8.3
wheel==0.44.0
tomlkit==0.12.0
filelock==3.13.1
blinker==1.9.0
pyOpenSSL==24.3.0
triton==3.1.0
scipy==1.14.1
beautifulsoup4==4.12.3
yarl==1.18.3
jupyter_core==5.7.2
tensorrt==10.7.0
comm==0.2.2
requests==2.32.3
attrs==24.2.0
aiortc==1.9.0
frozenlist==1.5.0
protobuf==5.29.0
ipython==8.27.0
nvidia-nccl-cu12==2.21.5
ultralytics-thop==2.0.12
comet-ml==3.47.4
torchaudio==2.5.1+cu121
onnx-graphsurgeon==0.5.2
flatbuffers==24.3.25
pip==24.2
pyzmq==25.1.2
threadpoolctl==3.5.0
fonttools==4.55.0
parso==0.8.3
joblib==1.4.2
filetype==1.2.0
matplotlib==3.9.3
onnxruntime==1.20.1
nvidia-nvjitlink-cu12==12.1.105
aiohttp-retry==2.8.3
pytz==2024.2
prompt-toolkit==3.0.43
sniffio==1.3.1
shapely==2.0.6
dulwich==0.22.6
GitPython==3.1.43
grpcio==1.68.1
tensorrt-cu12-bindings==10.7.0
py-cpuinfo==9.0.0
pyee==12.1.1
streamlit==1.40.2
uvicorn==0.32.1
mdurl==0.1.2
gradio_client==1.5.0
nvidia-pyindex==1.0.9
twilio==9.3.8
python-multipart==0.0.12
docker-pycreds==0.4.0
simplejson==3.19.3
sentry-sdk==2.19.0
ifaddr==0.2.0
pydeck==0.9.1
configobj==5.0.9
cffi==1.17.1
python-dateutil==2.9.0.post0
importlib_resources==6.4.0
more-itertools==10.3.0
typing_extensions==4.12.2
jaraco.text==3.12.1
jaraco.context==5.3.0
packaging==24.1
tomli==2.0.1
zipp==3.19.2
jaraco.functools==4.0.1
importlib_metadata==8.0.0
typeguard==4.3.0
platformdirs==4.2.2
backports.tarfile==1.2.0
wheel==0.43.0
autocommand==2.2.2
inflect==7.3.1
jaraco.collections==5.1.0
